.cookie-banner-section {
  backdrop-filter: blur(60px);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 16px;
  padding: 16px 20px;
  width: 100%;
  max-width: 375px;
  margin: 0 auto;
  gap: 8px;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  transform: none;
  z-index: 100;
  display: none;

  @include media(desktop) {
    padding: 20px 30px;
    max-width: 1440px;
    justify-content: space-between;
  }
}

.cookie-banner-text-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 194px;

  @include media(desktop) {
    max-width: 535px;
  }
}

.cookie-banner-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #082526;

  @include media(desktop) {
    font-size: 18px;
  }
}

.cookie-banner-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #7e71e1;

  @include media(desktop) {
    font-size: 18px;
  }
}

.cookie-banner-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  @include media(desktop) {
    flex-direction: row;
  }
}

.cookie-decline-btn {
  border: 1px solid #fec311;
  border-radius: 14px;
  padding: 12px 10px;
  width: 100%;
  max-width: 133px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #082526;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    border-radius: 12px;
    padding: 12px 18px;
    max-width: 182px;
    width: 182px;
    font-size: 18px;
  }
}

.cookie-accept-btn {
  background: #fec311;
  border-radius: 14px;
  padding: 12px;
  width: 100%;
  max-width: 133px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: #082526;
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
    border-radius: 12px;
    padding: 12px 21px;
    max-width: 163px;
    font-size: 18px;
  }
}

.show-cookie-banner {
  display: flex;

  @include media(desktop) {
  }
}
