.policy-section {
  padding-top: 116px;
  padding-bottom: 80px;

  @include media(desktop) {
    padding-top: 160px;
    padding-bottom: 120px;
  }
}

.policy-title {
  font-family: 'Afacad', sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
  text-align: center;
  color: #082526;

  @include media(desktop) {
    font-size: 48px;
    line-height: 1.3;
  }
}

.policy-subtitle {
  font-family: 'Afacad', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.3;
  color: #082526;
  margin-bottom: 1em;

  @include media(desktop) {
    font-weight: 600;
    font-size: 32px;
  }
}

.policy-text {
  font-family: 'Afacad', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.3;
  color: #082526;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-date {
  font-family: 'Afacad', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  color: #082526;

  @include media(desktop) {
    font-size: 24px;
  }
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-wrap: break-word;
}

.support-link {
  word-wrap: break-word;
}

.policy-span {
  font-weight: 700;
}
