.reviews-section {
  padding-bottom: 80px;

  @include media(desktop) {
    padding-bottom: 96px;
  }
}

.reviews-section-wrapper {
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include media(desktop) {
    max-width: 1440px;
  }
}

.reviews-container {
  padding-left: 0;
  padding-right: 0;

  @include media(desktop) {
    padding-left: 72px;
    padding-right: 72px;
  }
}

.reviews-swiper-container {
  max-width: 343px;
  margin-left: auto;
  margin-right: auto;
  visibility: hidden;

  @include media(desktop) {
    display: none;
    max-width: 1440px;
  }
}

.reviews-swiper-container.show {
  visibility: visible;
}

.reviews-list-desk {
  display: none;

  @include media(desktop) {
    display: flex;
    align-items: center;
    gap: 24px;
    overflow-x: auto;
    padding-bottom: 32px;
    cursor: grab;

    &.grabbing {
      cursor: grabbing;
    }

    // scrollbar-color: #538afb rgba(38, 108, 255, 0.3);
    // scrollbar-width: thin;

    &::-webkit-scrollbar {
      width: 570px;
      height: 10px;
    }

    &::-webkit-scrollbar-track {
      border-radius: 16px;
      background: rgba(38, 108, 255, 0.3);
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 16px;
      background: #538afb;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: darken(#538afb, 10%);
    }
  }
}

.reviews-slide {
  padding: 16px;
  max-width: 343px;
  border-radius: 16px;
  background: #ecd4ff;
  min-height: 106px !important;
  user-select: none;

  @include media(desktop) {
    border-radius: 24px;
    padding: 24px;
    min-width: 526px;
    min-height: 154px !important;
  }
}

.reviews-slide img {
  pointer-events: none;
}

.reviews-name-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;

  @include media(desktop) {
    margin-bottom: 16px;
  }
}

.reviews-name {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #264522;

  @include media(desktop) {
    font-size: 24px;
  }
}

.reviews-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.03em;
  color: #264522;

  @include media(desktop) {
    font-size: 18px;
  }
}

.reviews-dot {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: rgba(184, 94, 250, 0.2);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.reviews-dot.active {
  background-color: #b85efa;
}
