<section class="section advantages-section" id="advantages">
  <h2 class="section-title">Advantages</h2>
  <div class="advantages-section-wrapper">
    <div class="container advantages-container">
      <div class="advantages-swiper-container">
        <ul class="swiper-wrapper advantages-swiper-wrapper">
          <li class="swiper-slide advantages-slide">
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-gameplay"></use>
                </svg>
                <h3 class="advantages-subtitle">Dual Gameplay</h3>
              </div>
              <p class="advantages-text">
                Seamlessly combine match-3 puzzle solving with merge-based
                creativity
              </p>
            </div>
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-relaxing"></use>
                </svg>
                <h3 class="advantages-subtitle">Relaxing & Rewarding</h3>
              </div>
              <p class="advantages-text">
                Play at your pace, with no stress or rush
              </p>
            </div>
          </li>
          <li class="swiper-slide advantages-slide">
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-visuals"></use>
                </svg>
                <h3 class="advantages-subtitle">Stunning Visuals</h3>
              </div>
              <p class="advantages-text">
                Hand-crafted environments, charming creatures, and magical
                animations
              </p>
            </div>
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-companions"></use>
                </svg>
                <h3 class="advantages-subtitle">Magical Companions</h3>
              </div>
              <p class="advantages-text">
                Hatch and raise dragons who help you discover rare items
              </p>
            </div>
          </li>
          <li class="swiper-slide advantages-slide">
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-progression"></use>
                </svg>
                <h3 class="advantages-subtitle">Deep Progression</h3>
              </div>
              <p class="advantages-text">
                Unlock new zones, discover ancient relics, and expand your
                magical garden
              </p>
            </div>
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-start"></use>
                </svg>
                <h3 class="advantages-subtitle">Easy to Start</h3>
              </div>
              <p class="advantages-text">
                Suitable for all ages, with an accessible learning curve.
              </p>
            </div>
          </li>
          <li class="swiper-slide advantages-slide">
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-content"></use>
                </svg>
                <h3 class="advantages-subtitle">Endless Content</h3>
              </div>
              <p class="advantages-text">
                1000+ levels and new updates added regularly
              </p>
            </div>
            <div class="advantages-item-wrapper">
              <div class="advantages-item-title-wrapper">
                <svg class="advantages-icon" width="24" height="24">
                  <use href="./img/sprite.svg#icon-audio"></use>
                </svg>
                <h3 class="advantages-subtitle">Rich Audio</h3>
              </div>
              <p class="advantages-text">
                Immersive background music and cute sound effects enhance the
                fantasy atmosphere
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="advantages-dot active"></div>
        <div class="advantages-dot"></div>
        <div class="advantages-dot"></div>
        <div class="advantages-dot"></div>
      </div>
    </div>
  </div>
</section>
