<section class="section contacts-section" id="contacts">
  <h2 class="section-title contacts-title">Contact Us</h2>
  <div class="container contacts-container">
    <address class="contacts-address">
      <span class="contacts-email-span">Email:</span>
      <a class="contacts-email-link" href="mailto:info@sparkleempirematch.com">
        info@sparkleempirematch.com</a
      >
    </address>
    <ul class="contacts-list">
      <li class="contacts-list-item">
        <svg class="contacts-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-facebook"></use>
        </svg>
        <a
          class="contacts-link contacts-fb-link"
          href="https://www.facebook.com/profile.php?id=61568566320112"
          rel="noopener noreferrer"
          target="_blank"
          >Matching Mystery – Dragonland</a
        >
      </li>
      <li class="contacts-list-item">
        <svg class="contacts-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-instagram"></use>
        </svg>
        <a class="contacts-link">@MatchingMysteryGame</a>
      </li>
      <li class="contacts-list-item">
        <svg class="contacts-icon" width="18" height="18">
          <use href="./img/sprite.svg#icon-twitter"></use>
        </svg>
        <a class="contacts-link">@DragonlandPuzzle</a>
      </li>
    </ul>
  </div>
</section>
