<section class="section description-section" id="description">
  <h2 class="section-title description-title">Game Description</h2>
  <div class="container description-container">
    <picture>
      <source
        srcset="./img/description/description-bg-desk.png"
        media="(min-width: 1440px)"
        width="636"
        height="530"
      />
      <source
        srcset="./img/description/description-bg-mob.png"
        width="343"
        height="286"
      />
      <img
        class="description-bg-img"
        src="./img/description/description-bg-mob.png"
        alt="Screenshot of the game"
        width="343"
        height="286"
        loading="lazy"
      />
    </picture>
    <div class="description-content-wrapper">
      <p class="description-text">
        Welcome to
        <span class="description-span">Matching Mystery – Dragonland</span>,
        where your journey begins in an enchanted garden beside a castle
        brimming with magic and mystery. This game blends the satisfying
        strategy of match-3 puzzles with the creative depth of merge gameplay.
        Complete thrilling tile challenges, earn magical chests, and use those
        items to revive a forgotten land — one flower, building, and dragon at a
        time.<br />
        As you explore Dragonland, you’ll uncover mythical dragons, uncover
        secrets of the castle, and decorate your garden in your unique style.
        From barren land to a blooming paradise — you are the creator.<br />
        Whether you love puzzles, collecting cute creatures, or building magical
        kingdoms, this is your world to shape
      </p>
    </div>
  </div>
</section>
