<section class="section faq-section" id="faq">
  <h2 class="section-title">FAQ</h2>
  <div class="faq-section-wrapper">
    <div class="container faq-container">
      <div class="faq-swiper-container">
        <ul class="swiper-wrapper faq-swiper-wrapper">
          <li class="swiper-slide faq-slide">
            <h3 class="faq-subtitle">
              Is Matching Mystery – Dragonland free to play?
            </h3>
            <p class="faq-text">
              Yes! The game is free to download with optional in-app purchases
            </p>
          </li>
          <li class="swiper-slide faq-slide">
            <h3 class="faq-subtitle">Can I play offline?</h3>
            <p class="faq-text">
              Absolutely. The game supports offline mode so you can play
              anywhere
            </p>
          </li>
          <li class="swiper-slide faq-slide">
            <h3 class="faq-subtitle">What kind of dragons can I unlock?</h3>
            <p class="faq-text">
              From baby fire dragons to majestic crystal wyverns – there’s a
              huge collection to discover and raise
            </p>
          </li>
          <li class="swiper-slide faq-slide">
            <h3 class="faq-subtitle">Are there new updates?</h3>
            <p class="faq-text">
              Yes! We regularly release new puzzles, dragons, events, and
              islands
            </p>
          </li>
          <li class="swiper-slide faq-slide">
            <h3 class="faq-subtitle">Can I customize my island?</h3>
            <p class="faq-text">
              Totally! You can decorate with buildings, flowers, dragons, and
              rare treasures
            </p>
          </li>
        </ul>
      </div>
      <div class="dots">
        <div class="faq-dot active"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
        <div class="faq-dot"></div>
      </div>
    </div>
  </div>
</section>
