<section class="section gallery-section" id="gallery">
  <h2 class="section-title gallery-title">Gallery</h2>
  <div class="gallery-section-wrapper">
    <div class="container gallery-container">
      <div class="gallery-swiper-container">
        <ul class="swiper-wrapper gallery-swiper-wrapper">
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img1-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img2-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img3-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img4-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img5-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
          <li class="swiper-slide gallery-slide">
            <img
              class="gallery-img"
              src="./img/gallery/gallery-img6-mob.png"
              alt="Screenshot of the game"
              width="343"
              height="193"
              loading="lazy"
            />
          </li>
        </ul>
      </div>
      <ul class="gallery-list-desk">
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img1-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img2-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img3-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img4-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img5-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
        <li class="gallery-slide">
          <img
            class="gallery-img"
            src="./img/gallery/gallery-img6-desk.png"
            alt="Screenshot of the game"
            width="526"
            height="296"
            loading="lazy"
          />
        </li>
      </ul>
      <div class="dots">
        <div class="gallery-dot active"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
        <div class="gallery-dot"></div>
      </div>
    </div>
  </div>
</section>
