<section class="section reviews-section" id="reviews">
  <h2 class="section-title reviews-title">User Reviews</h2>
  <div class="reviews-section-wrapper">
    <div class="container reviews-container">
      <div class="reviews-swiper-container">
        <ul class="swiper-wrapper reviews-swiper-wrapper">
          <li class="swiper-slide reviews-slide">
            <div class="reviews-name-wrapper">
              <p class="reviews-name">Sienna W.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-stars.png"
                alt="Rating stars"
                width="106"
                height="18"
                loading="lazy"
              />
            </div>
            <p class="reviews-text">
              The dragons are adorable, and merging items to evolve my garden is
              super satisfying!
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-name-wrapper">
              <p class="reviews-name">Leo M.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-stars.png"
                alt="Rating stars"
                width="106"
                height="18"
                loading="lazy"
              />
            </div>
            <p class="reviews-text">
              A wonderful combo of puzzle-solving and creativity. I can’t stop
              unlocking new lands!
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-name-wrapper">
              <p class="reviews-name">Grace F.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-stars.png"
                alt="Rating stars"
                width="106"
                height="18"
                loading="lazy"
              />
            </div>
            <p class="reviews-text">
              It’s both relaxing and exciting — exactly what I want in a mobile
              game!
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-name-wrapper">
              <p class="reviews-name">Noah R.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-stars.png"
                alt="Rating stars"
                width="106"
                height="18"
                loading="lazy"
              />
            </div>
            <p class="reviews-text">
              The graphics are beautiful, and the match-3 levels are genuinely
              fun to play!
            </p>
          </li>
          <li class="swiper-slide reviews-slide">
            <div class="reviews-name-wrapper">
              <p class="reviews-name">Amelia T.</p>
              <img
                class="reviews-img"
                src="./img/reviews/reviews-stars.png"
                alt="Rating stars"
                width="106"
                height="18"
                loading="lazy"
              />
            </div>
            <p class="reviews-text">
              Merge + Match + Dragons = my new obsession. Can’t recommend this
              enough!
            </p>
          </li>
        </ul>
      </div>
      <ul class="reviews-list-desk">
        <li class="reviews-slide">
          <div class="reviews-name-wrapper">
            <p class="reviews-name">Sienna W.</p>
            <img
              class="reviews-img"
              src="./img/reviews/reviews-stars.png"
              alt="Rating stars"
              width="136"
              height="24"
              loading="lazy"
            />
          </div>
          <p class="reviews-text">
            The dragons are adorable, and merging items to evolve my garden is
            super satisfying!
          </p>
        </li>
        <li class="reviews-slide">
          <div class="reviews-name-wrapper">
            <p class="reviews-name">Leo M.</p>
            <img
              class="reviews-img"
              src="./img/reviews/reviews-stars.png"
              alt="Rating stars"
              width="136"
              height="24"
              loading="lazy"
            />
          </div>
          <p class="reviews-text">
            A wonderful combo of puzzle-solving and creativity. I can’t stop
            unlocking new lands!
          </p>
        </li>
        <li class="reviews-slide">
          <div class="reviews-name-wrapper">
            <p class="reviews-name">Grace F.</p>
            <img
              class="reviews-img"
              src="./img/reviews/reviews-stars.png"
              alt="Rating stars"
              width="136"
              height="24"
              loading="lazy"
            />
          </div>
          <p class="reviews-text">
            It’s both relaxing and exciting — exactly what I want in a mobile
            game!
          </p>
        </li>
        <li class="reviews-slide">
          <div class="reviews-name-wrapper">
            <p class="reviews-name">Noah R.</p>
            <img
              class="reviews-img"
              src="./img/reviews/reviews-stars.png"
              alt="Rating stars"
              width="136"
              height="24"
              loading="lazy"
            />
          </div>
          <p class="reviews-text">
            The graphics are beautiful, and the match-3 levels are genuinely fun
            to play!
          </p>
        </li>
        <li class="reviews-slide">
          <div class="reviews-name-wrapper">
            <p class="reviews-name">Amelia T.</p>
            <img
              class="reviews-img"
              src="./img/reviews/reviews-stars.png"
              alt="Rating stars"
              width="136"
              height="24"
              loading="lazy"
            />
          </div>
          <p class="reviews-text">
            Merge + Match + Dragons = my new obsession. Can’t recommend this
            enough!
          </p>
        </li>
      </ul>
      <div class="dots">
        <div class="reviews-dot active"></div>
        <div class="reviews-dot"></div>
        <div class="reviews-dot"></div>
        <div class="reviews-dot"></div>
        <div class="reviews-dot"></div>
      </div>
    </div>
  </div>
</section>
